/*  your css code here. If applicable */
p::before{
    color:#f00;
    content: "Before Element";
    font-size: 20px;
}
p::after{
    color:#f00;
    content: "Before Element";
    font-size: 20px;
     
}
 #container{
    margin: 20px;
 } 